{% extends "allpages/base.html" %}
{% load static %}

{% block maincontent %}
	<h1 align="center">About Me</h1><br>
	<p style="float: right;">
		<img src="{% static 'allpages/images/me.jpg' %}" height="200px" width="200px" style="float: left" hspace="20"><br><br>
		Hey there! First of all, a big thanks for visiting my site.
		I am Priya Sharma, completed my MSc in Computer Science (2019). I have started learning Python and Django due to its tremendous popularity. As a result, I tried to build this website by following a course on Udemy! I will be honest, I have just begun and I can't even tell you how much I loved it! Hope to learn more and build a couple of projects until I get a job. Have a great day! 
		And yes, you can contact with me at the given email id: 
		<a href="mailto:psharma4094@yahoo.com">psharma4094@yahoo.com</a>
	</p>
{% endblock maincontent %}